* {
  color: white;
}
h1 {
  text-align: center;
  color: black;
}
.carousel-wrapper {
  width: 90%;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  height: 100%;
  width: 100%;
}

.carousel-photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(100%);
}

.carousel-photo.active {
  transform: translate(0%);
}
.carousel-photo::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: -1;
}

.slide-1 {
  background-image: url(images/space.jpg);
}

.slide-2 {
  background-image: url(images/storytelling.jpg);
}

.slide-3 {
  background-image: url(images/sales.jpg);
}

.slide-4 {
  background-image: url(images/analytics.jpg);
}

.carousel-button-prev,
.carousel-button-next {
  font-size: 28px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  width: auto;
}

.carousel-button-prev {
  left: 10px;
}

.carousel-button-next {
  right: 10px;
}
