@font-face {
  font-family: "SituLiveBold";
  src: url("/fonts/situlive-bold.woff2 format") format("woff2"),
    url("/fonts/situlive-bold.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SituLiveLight";
  src: url("/fonts/situlive-light.woff2") format("woff2"),
    url("/fonts/situlive-light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "EuclidTriangleSemiBold";
  src: url("/fonts/euclidtriangle-semibold.woff2") format("woff2"),
    url("/fonts/euclidtriangle-semibold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "EuclidTriangleLight";
  src: url("/fonts/euclidtriangle-light.woff2") format("woff2"),
    url("/fonts/euclidtriangle-light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  color: white;
}

body {
  background-color: #f6f7f8;
}

h1,
h2 {
  font-family: "EuclidTriangleSemiBold";
}
h1 {
  font-size: 45px;
  text-align: center;
  color: #081d4d;
}

h2 {
  font-size: 35px;
}

p {
  font-family: "SituLiveLight";
}

section {
  margin: 20px;
  padding: 10px;
}

button {
  font-family: "SituLiveBold";
  font-size: 18px;
  line-height: 47px;
  background-color: #00c8b7;
  border: 2px solid #00c8b7;
  border-radius: 25px;
  display: block;
  margin: 20px auto;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  color: #00c8b7;
  background-color: transparent;
}
.navbar {
  color: white;
  background-color: #081d4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 33px;
}
.navbar img {
  display: flex;
  max-height: 80px;
  float: left;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding: 20px 10px;
}

.navbar .logo-sm.logo-sm {
  display: none;
}

.subtitle {
  font-size: 20px;
  color: #272d38;
  padding: 10px;
  align-items: center;
}

.content {
  max-width: 50%;
}
.content p {
  font-size: 20px;
}
.carousel-wrapper {
  width: 90%;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  height: 100%;
  width: 100%;
}

.carouselPhoto {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  transform: translate(100%);
}

.carouselPhoto.active {
  transform: translate(0%);
  z-index: 3;
}

.carouselPhoto.top {
  transition: 0.5s ease transform;
  z-index: 3;
}
.carouselPhoto::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: -1;
}

.slide-1 {
  background-image: url(images/space.jpg);
}

.slide-2 {
  background-image: url(images/storytelling.jpg);
}

.slide-3 {
  background-image: url(images/sales.jpg);
}

.slide-4 {
  background-image: url(images/analytics.jpg);
}

.prev,
.next {
  font-size: 28px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  width: auto;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease width;
}

.dots .dot.active {
  background-color: white;
  width: 40px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  .content p {
    font-size: 20px;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .prev,
  .next {
    font-size: 20px;
  }
  .slide-3 {
    background-position: 85%;
  }
  .dots {
    margin-bottom: 30px;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
}
@media all and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  .navbar .logo-sm.logo-sm {
    display: block;
    max-width: 100%;
    margin-left: 20px;
  }
  .navbar .logo-lg.logo-lg {
    display: none;
  }

  .subtitle {
    display: none;
  }

  .carousel-wrapper {
    height: 70vh;
  }

  .content {
    max-width: 68%;
  }

  .content p {
    font-size: 18px;
  }
}
